In [6]:
import pandas as pd
import numpy as np

# Set display options for better console output
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Load the dataframe
df = pd.read_csv('cardio_train.csv', delimiter=';')

print("--- Successfully loaded cardio_train.csv ---")
print(f"Original DataFrame shape: {df.shape}\n")
print("Original DataFrame head:")
print(df.head())
print("\n" + "="*80 + "\n")

# Made 'gender' more readable (1: Female, 2: Male)
df['gender'] = df['gender'].map({1: 'Female', 2: 'Male'})
# Trim the DataFrame to a smaller sample
wide_df = df[['id', 'age', 'gender', 'ap_hi', 'ap_lo']]

print("--- Created a narrower sample (LESS COLUMNS) for Melt/Pivot ---")
print(wide_df.head(10))
print("\n" + "="*80 + "\n")

# 1. Melt
# I keep 'id', 'age', and 'gender' as identifier variables using 'id_vars'.
# 'value_vars' are the columns I want to melt.
# I melt 'ap_hi' (systolic) and 'ap_lo' (diastolic) into two new columns:
# 'pressure_type' (which will contain 'ap_hi' or 'ap_lo')
# 'pressure_value' (which will contain the corresponding value from those columns that are now melted)

print("--- 1. DEMONSTRATING melt() ---")
melted_df = wide_df.melt(
    id_vars=['id', 'age', 'gender'],
    value_vars=['ap_hi', 'ap_lo'],
    var_name='pressure_type',
    value_name='pressure_value'
)
print("Melted DataFrame (long format):")
print(melted_df)
print("\n" + "="*80 + "\n")


# 2. Pivot
# I use pivot to restore our 'melted_df' back to its original structure.
# - index: The column(s) to use as the new DataFrame's index. (id, age, gender)
# - columns: The column to use to create the new DataFrame's columns.
# - values: The column to use for populating the new DataFrame's values.

print("--- 2. DEMONSTRATING pivot() ---")
pivoted_df = melted_df.pivot(
    index=['id', 'age', 'gender'],
    columns='pressure_type',
    values='pressure_value'
)
# .reset_index() is used to turn the index columns back into regular columns for easier viewing
pivoted_df = pivoted_df.reset_index().rename_axis(None, axis=1) 

print("Pivoted DataFrame (wide format, restored from melt):")
print(pivoted_df)
print("\n" + "="*80 + "\n")


# 3. Groupby
# 'groupby' is used for splitting the data into groups based on some criteria.
# It creates a 'DataFrameGroupBy' object. 

print("--- 3. DEMONSTRATING groupby() ---")
# I group by 'gender' (1=Female, 2=Male) and 'cholesterol' (1, 2, 3)
grouped_data = df.groupby(['gender', 'cholesterol'])

print(f"Created a DataFrameGroupBy object: {type(grouped_data)}")
#showing the list that is created when the dataframegroupby element is created
print("Groups found (first 5):")
print(list(grouped_data.groups.keys())[:5])

# Show the size of each group
print("\nSize of each group (gender, cholesterol):")
print(grouped_data.size())
print("\nDescriptive statistics for each group: (gender broken down by cholesterol)")
print(grouped_data.describe())
print("\n" + "="*80 + "\n")


# 4. Aggregation (agg)
# I can apply different functions to different columns.

print("--- 4. DEMONSTRATING Aggregation (.agg()) ---")
# I will calculate:
# - The mean 'weight' and 'height'
# - The median 'ap_hi' (systolic pressure)
# - The total count of smokers ('smoke' column, where 1=smoker)

aggregations = {
    'weight': ['mean', 'std'],
    'height': ['mean', 'std'],
    'ap_hi': 'median',
    'smoke': 'sum' 
}

aggregated_df = grouped_data.agg(aggregations)

#Using round function for cleaner output
aggregated_df = aggregated_df.round(2)

print("Aggregated results (mean and std weight/height, median ap_hi, total smokers):")
print(aggregated_df)
print("\n" + "="*80 + "\n")


# 5. Iteration (iterrows)
# 'iterrows' iterates over DataFrame rows as (index, Series) pairs.


print("--- 5. DEMONSTRATING Iteration (.iterrows()) ---")
print("Iterating over the *first 5 rows* of the main DataFrame:")

# use .head(5) to only iterate over a small sample due to .iterrows() being slow and also the amount of output if the entire df is used
for index, row in df.head(5).iterrows():
    print(f"\nRow Index: {index}")
    print(f"  ID: {row['id']}")
    print(f"  Age (days): {row['age']}")
    print(f"  Weight: {row['weight']}")
    print(f"  Cardio risk (1=yes): {row['cardio']}")

--- Successfully loaded cardio_train.csv ---
Original DataFrame shape: (69301, 13)

Original DataFrame head:
    id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  alco  active  cardio
0  988  22469       1     155    69.0    130     80            2     2      0     0       1       0
1  989  14648       1     163    71.0    110     70            1     1      0     0       1       1
2  990  21901       1     165    70.0    120     80            1     1      0     0       1       0
3  991  14549       2     165    85.0    120     80            1     1      1     1       1       0
4  992  23393       1     155    62.0    120     80            1     1      0     0       1       0

================================================================================

--- Created a narrower sample (LESS COLUMNS) for Melt/Pivot ---
     id    age  gender  ap_hi  ap_lo
0   988  22469  Female    130     80
1   989  14648  Female    110     70
2   990  21901  Female    120     80
3   991  14549    Male    120     80
4   992  23393  Female    120     80
5   995  21143  Female    100     70
6   996  18085  Female    100     70
7   997  22547  Female    140     90
8   999  21250  Female    110     80
9  1000  22446  Female    140     90

================================================================================

--- 1. DEMONSTRATING melt() ---
Melted DataFrame (long format):
           id    age  gender pressure_type  pressure_value
0         988  22469  Female         ap_hi             130
1         989  14648  Female         ap_hi             110
2         990  21901  Female         ap_hi             120
3         991  14549    Male         ap_hi             120
4         992  23393  Female         ap_hi             120
...       ...    ...     ...           ...             ...
138597  99993  19240    Male         ap_lo              80
138598  99995  22601  Female         ap_lo              90
138599  99996  19066    Male         ap_lo              90
138600  99998  22431  Female         ap_lo              80
138601  99999  20540  Female         ap_lo              80

[138602 rows x 5 columns]

================================================================================

--- 2. DEMONSTRATING pivot() ---
Pivoted DataFrame (wide format, restored from melt):
          id    age  gender  ap_hi  ap_lo
0        988  22469  Female    130     80
1        989  14648  Female    110     70
2        990  21901  Female    120     80
3        991  14549    Male    120     80
4        992  23393  Female    120     80
...      ...    ...     ...    ...    ...
69296  99993  19240    Male    120     80
69297  99995  22601  Female    140     90
69298  99996  19066    Male    180     90
69299  99998  22431  Female    135     80
69300  99999  20540  Female    120     80

[69301 rows x 5 columns]

================================================================================

--- 3. DEMONSTRATING groupby() ---
Created a DataFrameGroupBy object: <class 'pandas.core.groupby.generic.DataFrameGroupBy'>
Groups found (first 5):
[('Female', 1), ('Female', 2), ('Female', 3), ('Male', 1), ('Male', 2)]

Size of each group (gender, cholesterol):
gender  cholesterol
Female  1              33235
        2               6336
        3               5508
Male    1              18633
        2               3110
        3               2479
dtype: int64

Descriptive statistics for each group: (gender broken down by cholesterol)
                         id                                                                                age                                                                            height                                                            weight                                                         ap_hi                                                                 ap_lo                                                              gluc                                                 smoke                                                  alco                                                active                                                cardio
                      count          mean           std     min       25%      50%       75%      max    count          mean          std      min       25%      50%      75%      max    count        mean       std    min    25%    50%    75%    max    count       mean        std   min   25%   50%   75%    max    count        mean         std    min    25%    50%    75%      max    count        mean         std   min   25%   50%   75%      max    count      mean       std  min  25%  50%  75%  max    count      mean       std  min  25%  50%  75%  max    count      mean       std  min  25%  50%  75%  max    count      mean       std  min  25%  50%  75%  max    count      mean       std  min  25%  50%  75%  max
gender cholesterol
Female 1            33235.0  50310.688762  28449.789165   989.0  25631.00  50333.0  74729.50  99998.0  33235.0  19309.537867  2448.966721  10859.0  17561.00  19605.0  21202.0  23701.0  33235.0  161.672002  7.128379   55.0  157.0  162.0  166.0  198.0  33235.0  71.365522  13.514743  23.0  62.0  69.0  78.0  175.0  33235.0  125.933263  151.575172 -140.0  120.0  120.0  130.0  16020.0  33235.0   91.691289  164.456691 -70.0  80.0  80.0  80.0  11000.0  33235.0  1.097548  0.379634  1.0  1.0  1.0  1.0  3.0  33235.0  0.015857  0.124923  0.0  0.0  0.0  0.0  1.0  33235.0  0.020882  0.142990  0.0  0.0  0.0  0.0  1.0  33235.0  0.802046  0.398463  0.0  1.0  1.0  1.0  1.0  33235.0  0.434301  0.495672  0.0  0.0  0.0  1.0  1.0
       2             6336.0  50515.334280  28631.005650   988.0  25623.75  50981.5  74928.25  99999.0   6336.0  19655.895044  2374.842987  14282.0  18170.00  19794.0  21650.5  23690.0   6336.0  160.601484  6.758627  110.0  156.0  160.0  165.0  198.0   6336.0  74.592939  15.321456  21.0  64.0  72.0  83.0  181.0   6336.0  132.543876  167.238552 -100.0  120.0  130.0  140.0  13010.0   6336.0  102.075284  230.043591   0.0  80.0  80.0  90.0  10000.0   6336.0  1.338226  0.549116  1.0  1.0  1.0  2.0  3.0   6336.0  0.024463  0.154495  0.0  0.0  0.0  0.0  1.0   6336.0  0.039141  0.193947  0.0  0.0  0.0  0.0  1.0   6336.0  0.794981  0.403747  0.0  1.0  1.0  1.0  1.0   6336.0  0.584596  0.492830  0.0  0.0  1.0  1.0  1.0
       3             5508.0  50744.747640  28561.045072  1000.0  26240.75  50946.0  75351.00  99940.0   5508.0  20557.104938  2095.140899  14275.0  19201.75  20963.0  22050.0  23677.0   5508.0  160.338962  6.783162   80.0  156.0  160.0  165.0  250.0   5508.0  77.444989  15.711175  34.0  66.0  75.0  86.0  178.0   5508.0  136.480937  188.569450   10.0  120.0  130.0  140.0  14020.0   5508.0  102.865105  164.965388   0.0  80.0  80.0  90.0   8044.0   5508.0  1.948257  0.965940  1.0  1.0  2.0  3.0  3.0   5508.0  0.022876  0.149521  0.0  0.0  0.0  0.0  1.0   5508.0  0.038308  0.191956  0.0  0.0  0.0  0.0  1.0   5508.0  0.811184  0.391398  0.0  1.0  1.0  1.0  1.0   5508.0  0.769971  0.420889  0.0  1.0  1.0  1.0  1.0
Male   1            18633.0  50493.055225  28741.585458   991.0  25647.00  50127.0  75624.00  99993.0  18633.0  19236.850749  2545.752205  10798.0  17363.00  19536.0  21226.0  23713.0  18633.0  169.807599  7.257195   65.0  165.0  170.0  174.0  207.0  18633.0  76.058933  13.557736  11.0  67.0  74.0  84.0  200.0  18633.0  127.865883  131.682711 -150.0  120.0  120.0  130.0  14020.0  18633.0   97.459937  216.023645   0.0  80.0  80.0  90.0  10000.0  18633.0  1.101916  0.385399  1.0  1.0  1.0  1.0  3.0  18633.0  0.208662  0.406363  0.0  0.0  0.0  0.0  1.0  18633.0  0.096764  0.295644  0.0  0.0  0.0  0.0  1.0  18633.0  0.803735  0.397182  0.0  1.0  1.0  1.0  1.0  18633.0  0.450330  0.497540  0.0  0.0  0.0  1.0  1.0
       2             3110.0  50789.037299  28268.888485  1003.0  26389.50  51671.0  74744.00  99972.0   3110.0  19497.995177  2475.518936  14292.0  17610.75  19706.5  21391.5  23692.0   3110.0  170.569453  6.951019  110.0  166.0  170.0  175.0  200.0   3110.0  80.877235  15.221809  10.0  70.0  80.0  90.0  180.0   3110.0  139.407717  252.275513 -120.0  120.0  130.0  150.0  14020.0   3110.0  113.018328  232.905919  50.0  80.0  80.0  90.0  10000.0   3110.0  1.327331  0.551257  1.0  1.0  1.0  2.0  3.0   3110.0  0.271383  0.444745  0.0  0.0  0.0  1.0  1.0   3110.0  0.152090  0.359166  0.0  0.0  0.0  0.0  1.0   3110.0  0.808360  0.393654  0.0  1.0  1.0  1.0  1.0   3110.0  0.638907  0.480395  0.0  0.0  1.0  1.0  1.0
       3             2479.0  51347.353772  28933.192702  1047.0  26498.00  51773.0  77281.50  99996.0   2479.0  20414.109318  2202.582627  14293.0  18998.50  20860.0  22097.5  23687.0   2479.0  170.263413  7.097414   71.0  166.0  170.0  175.0  196.0   2479.0  81.721944  15.638209  45.0  70.0  80.0  91.0  183.0   2479.0  135.138766   24.285066   12.0  120.0  130.0  140.0    907.0   2479.0  108.834207  146.884955   0.0  80.0  80.0  90.0   1200.0   2479.0  1.874546  0.959213  1.0  1.0  1.0  3.0  3.0   2479.0  0.226704  0.418784  0.0  0.0  0.0  0.0  1.0   2479.0  0.123033  0.328542  0.0  0.0  0.0  0.0  1.0   2479.0  0.833401  0.372693  0.0  1.0  1.0  1.0  1.0   2479.0  0.752319  0.431752  0.0  1.0  1.0  1.0  1.0

================================================================================

--- 4. DEMONSTRATING Aggregation (.agg()) ---
Aggregated results (mean and std weight/height, median ap_hi, total smokers):
                   weight         height        ap_hi smoke
                     mean    std    mean   std median   sum
gender cholesterol
Female 1            71.37  13.51  161.67  7.13  120.0   527
       2            74.59  15.32  160.60  6.76  130.0   155
       3            77.44  15.71  160.34  6.78  130.0   126
Male   1            76.06  13.56  169.81  7.26  120.0  3888
       2            80.88  15.22  170.57  6.95  130.0   844
       3            81.72  15.64  170.26  7.10  130.0   562

================================================================================

--- 5. DEMONSTRATING Iteration (.iterrows()) ---
Iterating over the *first 5 rows* of the main DataFrame:

Row Index: 0
  ID: 988
  Age (days): 22469
  Weight: 69.0
  Cardio risk (1=yes): 0

Row Index: 1
  ID: 989
  Age (days): 14648
  Weight: 71.0
  Cardio risk (1=yes): 1

Row Index: 2
  ID: 990
  Age (days): 21901
  Weight: 70.0
  Cardio risk (1=yes): 0

Row Index: 3
  ID: 991
  Age (days): 14549
  Weight: 85.0
  Cardio risk (1=yes): 0

Row Index: 4
  ID: 992
  Age (days): 23393
  Weight: 62.0
  Cardio risk (1=yes): 0